@import url(normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;700;900&display=swap");

body {
  background-color: #dcccbb;
  font-family: "Noto Sans", sans-serif;
}

.header {
  background-color: #a7754d;
  display: flex;
  align-items: center;
  padding-left: 2em;
}

.bookinfo--container {
  display: flex;
  justify-content: center;
}

.bookinfo {
  border: 2px solid #646e78;
  margin-top: 25px;
  /* display: flex;
  justify-content: center; */
  align-items: center;
  gap: 50px;
  min-height: 40px;
  padding: 10px 10px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* width: 40%; */
}

.card--wrapper {
  display: flex;
  justify-content: center;
}

.card--container {
  /* flex: 1; */
  border: 2px solid blue;
  margin-top: 25px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 60%;

  gap: 20px;
}

.card {
  /* width: 100px; */
  height: 200px;
  border-radius: 7px;
  background-color: #fff;
  padding: 20px;
  border: 2px solid red;
  background-color: #eab464;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* .centered-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  margin: 0 auto;
  width: 50%;

  display: flex;
  flex-direction: column;
} */

.form--container {
  border: 2px solid white;
}

/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-color: #eab464;
  z-index: 9998;
} */
